<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HEXCRUD</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HEXCRUD.styles.css" asp-append-version="true" /> *@

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop Ecommerce HTML CSS Template</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/theme/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/theme/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/theme/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="~/theme/assets/css/lightbox.css">
    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
    <!-- jQuery -->
    <script src="~/theme/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/theme/assets/js/popper.js"></script>
    <script src="~/theme/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/theme/assets/js/owl-carousel.js"></script>
    <script src="~/theme/assets/js/accordions.js"></script>
    <script src="~/theme/assets/js/datepicker.js"></script>
    <script src="~/theme/assets/js/scrollreveal.min.js"></script>
    <script src="~/theme/assets/js/waypoints.min.js"></script>
    <script src="~/theme/assets/js/jquery.counterup.min.js"></script>
    <script src="~/theme/assets/js/imgfix.min.js"></script>
    <script src="~/theme/assets/js/slick.js"></script>
    <script src="~/theme/assets/js/lightbox.js"></script>
    <script src="~/theme/assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="~/theme/assets/js/custom.js"></script>
</head>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <!-- ***** Logo Start ***** -->
                            @*   <a href="index.html" class="logo">
                            <img style="margin-right:20px; margin-bottom:30px;" src="~/theme/assets/images/logo.png">
                            </a> *@
                            <!-- ***** Logo End ***** -->
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#men">Computers</a></li>
                            <li class="scroll-to-section"><a href="#women">Appliances</a></li>
                            <li class="scroll-to-section"><a href="#kids">Phones</a></li>

                            <li class="submenu"> 
                                <a href="/Product">Manage Prod</a>
                                 <ul>
                                    <li><a href="/Product/InsertProduct">Create New Product</a></li>
                                </ul>
                            </li>  
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Products</a>
                                <ul>
                                    <li><a href="#">Samsung TV</a></li>
                                    <li><a href="#">Boyz II Men: II</a></li>
                                    <li><a href="#">SimCity</a></li>
                                    <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#explore">Explore</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
